@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 200 1000;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 200 1000;
  font-style: italic;
}
